<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Auction demo by Alex">
  <title>Auction demo by Alex</title>
</head>
<body>
  <div id="app"></div>
</body>
</html>
